#a1 {
    background-color: grey;
    margin-top: 20px;
}

#b2 {
    background-color: lightgray;
    margin-top: 20px;
}

#c3 {
    background-color: rgb(102, 102, 102);
    margin-top: 20px;
}
span {
    font-weight: bold;
    color: rgb(255, 0, 0);

}

h4 {
    text-align: center;
    color: rgb(151, 151, 237);
}
h1 {
    font-weight: bolder;
}
